*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background: #0E1A54;
    color: #26FBFF;
    font-size: 16px;

}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 25px auto;
    font-size: 2.5em;
}

h2 {
    margin: 20px auto;
    font-size: 2em;
}

.translate-section {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.box-container{
    width: 47%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
}

form {
    display: flex;
    justify-content: space-between;
}

.translate-textarea {
    width: 100%;
    height: 55vh;
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    word-break: break-all;
    text-align: left;
}

.fromLanguage {
    padding: 10px 0;
    font-weight: 700;
    background-color: #337ab7;
    border-radius: 30px;
    width: 40%;
    margin: 10px auto;
}

.toLanguage {
    padding: 10px 0;
    font-weight: 700;
    background-color: #337ab7;
    border-radius: 30px;
    width: 40%;
    margin: 10px auto;
}

.btn-hover {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    margin: 10px auto;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

