*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background: #0E1A54;
    /* color: #26FBFF; */
    color: #fff;
    font-size: 16px;

}

h1,
h2 {
    text-align: center;
    color: #9dd2ff;
    text-shadow: 0px 0px 3px #fff;
}

h1 {
    margin: 25px auto;
    font-size: 2.5em;
}

h2 {
    margin: 20px auto;
    font-size: 2em;
}

.translate-section {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.box-container {
    width: 47%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
}

form {
    display: flex;
    justify-content: space-between;
}

.translate-textarea {
    width: 100%;
    height: 55vh;
    padding: 10px;
    /* background-color: #F5F5F5; */
    background-color: #337ab7;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    word-break: break-all;
    text-align: left;
}

@media screen and (max-width: 1023px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .translate-textarea {
        width: 100%;
        height: 30vh;
        padding: 10px;
        /* background-color: #F5F5F5; */
        background-color: #337ab7;
        border: 1px solid #000;
        border-radius: 10px;
        color: #fff;
        word-break: break-all;
        text-align: left;
    }

    .box-container {
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.fromLanguage {
    padding: 10px 0;
    font-weight: 700;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876);
    border-radius: 30px;
    width: 40%;
    margin: 10px auto;
    color: #fff;
}

.toLanguage {
    padding: 10px 0;
    font-weight: 700;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876);
    border-radius: 30px;
    width: 40%;
    margin: 10px auto;
    color: #fff;

}

.btn-hover {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/* Animation */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

.system_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #251C2D;
}

.system {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding-top: 100%;
}

@media (min-width: 700px) {
    .system {
        padding-top: 700px;
    }
}

.system__sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.system__orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation: spin infinite linear both;
}

.system__orbit:nth-child(1) {
    width: 10%;
    height: 10%;
}

.system__orbit:nth-child(2) {
    width: 20%;
    height: 20%;
}

.system__orbit:nth-child(3) {
    width: 30%;
    height: 30%;
}

.system__orbit:nth-child(4) {
    width: 40%;
    height: 40%;
}

.system__orbit:nth-child(5) {
    width: 50%;
    height: 50%;
}

.system__orbit:nth-child(6) {
    width: 60%;
    height: 60%;
}

.system__orbit:nth-child(7) {
    width: 70%;
    height: 70%;
}

.system__orbit:nth-child(8) {
    width: 80%;
    height: 80%;
}

.system__orbit:nth-child(9) {
    width: 90%;
    height: 90%;
}

.system__orbit:nth-child(10) {
    width:  100%;
    height:  100%;
}

.system__orbit--sun {
    border: none;
}

.system__orbit--mercury {
    animation-duration: 1s;
}

.system__orbit--venus {
    animation-duration: 2.6s;
}

.system__orbit--earth {
    animation-duration: 4.1s;
}

.system__orbit--mars {
    animation-duration: 7.8s;
}

.system__orbit--jupiter {
    animation-duration: 49.8s;
}

.system__orbit--saturn {
    animation-duration: 120.3s;
}

.system__orbit--uranus {
    animation-duration: 348.4s;
}

.system__orbit--neptune {
    animation-duration: 684.4s;
}

.system__orbit--pluto {
    animation-duration: 1028.6s;
}

.system__planet {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transform: translateY(-50%);
}

.system__icon {
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}